/*default html style*/
html{
	background-image: url(../img/background.gif);
	height: 100%;
	position: absolute;
	width: 100%;
}
/*default body style*/
body{
	display: block;
	height: 95%;
	margin: 10px auto;
	position: relative;
	/*outline: 1px solid;*/
	width: 90%;
}
/*default links style*/
a{
	color: black;
	display: inline-block;
	font-weight: normal;
	text-decoration: underline;
}
abbr{
	border-bottom: 1px dashed blue;
	color: #000080;
}
/*############################   MAIN STRUCTURE OF SITE   ############################*/
/*LEFT BLOCK OF SITE: NVGU LOGO AND MENU*/
.leftblock{
	display: block;
	float: left;
	/*outline: 1px solid;*/
	position: fixed left;
	text-align: center;
	width: 20%;
}
	/*sighn under nvgu logo*/
	.logoSign{
		font-weight: bold;
		font-style: italic;
		margin-bottom: 100px;
	}
	/*div with nvgu logo*/
	.logo{
		background-image: url(../img/logo.png);
		display: block;
		height: 130px;
		margin: 0 auto;
		position: relative;
		width: 130px;
	}
		/*make nvgu logo as link*/
		.logo a{
			display: block;
			height: 100%;
			width: 100%;
		}
/*TOP BLOCK OF SITE: NAME OF SITE*/
.topblock{
	background-image: url(../img/headimg.jpg);
	background-repeat: repeat-x;
	display: block;
	float: left;
	height: 20%;
	margin-left: 30px;
	/*outline: 1px solid red;*/
	position: relative;
	text-align: center;
	width: 75%;
}
	.topblock div{
		border: 3px solid;
		height: 50%;
		margin: 50px auto 0;
		outline: 1px solid;
		padding: 15px 30px 10px;
		width: 65%;
	}
		.orgname{
			font-size: 2em;
			text-transform: uppercase;
		}
		.pagename{
			font-size: 1.5em;
		}
/*DIV FOR MAIN CONTENT OF SITE*/
.container{
	float: left;
	margin-left: 30px;
	min-height: 50%;
	outline: 1px solid yellow;
	position: relative;
	width: 75%;
}
/*FOOTER OF SITE: BOTTOM MENU*/
.bottomblock{
	bottom: 0;
	display: block;
	float: left;
	height: 10%;
	margin-top: 30px;
	/*outline: 1px solid;*/
	position: fixed bottom;
	width: 100%;
}

/*############################   MENU   ############################*/
.v-menu, .h-menu{
	border: 0 none;
	list-style: none;
	margin: 0;
	padding: 0;
}
/* VERTICAL MENU */
.v-menu ul li{
	border: solid black;
	border-width: 1px 0 1px 0;
	margin-top: -1px;
	z-index: 1;
}
	.v-menu li ul{
		display: none;
		position: absolute;
		/*margin: -3.2% 0 0 20%;*/
		margin: -36px 0 0 227px;
		width: 20%;
		z-index: 1;
	}
		.v-menu li ul li{
			background-color: #FFFFFF;
			border-width: 1px;
		}
.v-menu li:hover{
	background-color: #90EE90;
	opacity: 1;
}
.v-menu li:hover ul{
	display: block;
}
.v-menu a{
	display: block;
	padding: 10px 0;
	text-decoration: none;
}
/* HORIZONTAL MENU */
.h-menu ul{
	margin-top: 20px;
	text-align: center;
	font-size: 18px;
}
.h-menu ul li{
	display: inline-block;
	text-decoration: none;
	margin-right: -5px;
}
.h-menu li ul{
	display: none;
}
.h-menu li:hover{
	background-color: #90EE90;
	opacity: 1;
}
.h-menu li:hover a{
	outline: 1px solid;
}
.h-menu a{
	display: inline-block;
	padding: 10px;
	text-decoration: none;
}
.selected{
	background-color: #DCDCDC;
	opacity: 0.5;
}

/*positioning text in center*/
.center{
	text-align: center;
}